.background {
  background-image: url(../../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0 13.8rem 0;
  margin-bottom: 6.7rem;
}

.header {
  padding-top: 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3.4rem;
}

.masthead-hero {
  margin: 0 auto 2.1rem auto;
}


.logo-title {
  margin: 0;
  padding: 0;
}

.logo {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 2rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.nav {
  margin: 0 auto;
}

.login-menu {
  list-style: none;
  margin: 0 0 11.7rem;
  padding: 0;
  display: flex;
  justify-content: center;
}

.first {
  margin-right: 2rem;
}

.header-link {
  font-family: var(--main-font);
  font-size: 1.4rem;
  background-color: transparent;
  color: var(--main-color);
  padding: 1.1rem 1.7rem 1.1rem;
  border: 0.2rem solid transparent;
  border-radius: 2.5rem;
  cursor: pointer;
}

.header-link:hover {
  border: 0.2rem solid var(--main-color);
  border-radius: 2.5rem;
}

.find-partner {
  text-align: center;
}

.find-partner-title {
  font-family: var(--main-font);
  margin: 0 0 1.5rem 0;
  padding: 0;
  font-size: 3rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.find-partner-about {
  font-family: var(--main-font-light);
  font-size: 1.8rem;
  color: var(--main-color);
  padding: 0;
}

.find-partner-link {
  font-family: var(--main-font);
  font-size: 1.4rem;
  color: var(--main-color);
  border: 0.1rem solid var(--button-color);
  padding: 1.3rem 4.8rem;
  border-radius: 2.5rem;
  text-decoration: none;
  background-color: var(--button-color);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    margin: 0;
  }

  .background {
    padding: 2rem 4.7rem 13.8rem 4.7rem;
  }
}