.wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.t {
  background: orange;
  color: slateblue;
  border: 1px solid steelblue;
  width: 46%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
