html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-size: 0;
  font-family: 'Playball', cursive;
  font-family: 'Playfair Display', serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  color: #626262;
  font-size: 12px;
}

.headline {
  display: none;
}


.block {
  display: inline-block;
  width: 450px;
}

.about {
  width: 420px;
}

.description {
  text-transform: uppercase;
}