.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, .9), rgba(252, 227, 138, .9)),
    url(../../img/background-min.jpg);
  margin-bottom: 5.2rem;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(to bottom, rgba(243, 129, 129, .9), rgba(252, 227, 138, .9)),
      url('/html-css/module-10/img/background-min@2x.jpg');
  }
}
