.learn-more {
  margin-bottom: 23rem;
  border: .3rem solid $semi-font-color;
  color: $semi-font-color;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: $main-font-bold;
  padding: 1.1rem 2.9rem;
  cursor: pointer;
}
