.masthead-hero__title {
  font-family: $main-font-bold;
  color: $semi-font-color;
  font-size: 15rem;
  margin: 0 auto 11.1rem auto;
  padding: 0;
  width: 82.5rem;
  text-align: center;
  text-transform: uppercase;
}

.masthead-hero {
  text-align: center;
}

.masthead-hero__span {
  font-family: $semi-font;
  font-size: 7.2rem;
  text-transform: none;
}
