html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.visually-hidden {
  display: none;
}

.page-nav {
  padding: 54px 0;
}

.menu li {
  display: inline-block;
}

.menu {
  list-style: none;
}

.first {
  padding-left: 132px;
  padding-right: 132px;
}

.second {
  padding-right: 104px;
}

.third {
  padding-right: 94px;
}

.link,
.link-menu {
  text-decoration: none;
  color: #626262;
  outline: none;
}

.link-menu {
  text-transform: uppercase;
}

.link-menu:hover,
.link-menu:focus {
  color: #03a9f4;
}

.wrapper {
  width: 902px;
  margin: 0 auto;
  color: #626262;
}

.article {
  display: inline-block;
  width: 420px;
  margin: 0 57px 0 0;
  padding: 0;
  margin-bottom: 138px;
}

.article:nth-child(2n) {
  margin-right: 0;
}

.description {
  margin: 30px 0 26px 0;
}

.about {
  margin: 36px 0 0 0;
}

.last-child {
  margin: 0 57px 55px 0;
}

.button {
  display: block;
  color: #6c6c6c;
  text-decoration: none;
  outline: none;
  background: white;
  width: 167px;
  padding: 18px 0;
  border: 1px solid #6c6c6c;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}