html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.page-nav {
  padding: 54px 0;
}

.page-header {
  text-align: center;
}

.nav-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 0;
  height: auto;
  overflow: hidden;
}

.menu {
  float: left;
  padding: 0;
  margin-right: 100px;
}

.last {
  margin-right: 0;
}




.link,
.link-menu {
  display: block;
  text-decoration: none;
  color: #626262;
  outline: none;
  font-size: 14px;
}

.link-menu {
  text-transform: uppercase;
}

.link-menu:hover,
.link-menu:focus {
  color: #03a9f4;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  color: #626262;
}

.information-list {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;

}


.information-list li {
  display: inline-block;
  width: 420px;
  padding: 0;
  margin-right: 60px;
  margin-bottom: 138px;
  font-size: 14px;
}

.information-list li:nth-child(2n) {
  margin-right: 0;
}

li:nth-child(n+5) {
  margin-bottom: 56px;
}

.image {
  margin-bottom: 30px;
}

.description {
  margin: 0;
  margin-bottom: 31px;
}

.about {
  margin: 0;
}

.name {
  margin: 0;
  margin-bottom: 40px;
}

.button {
  display: flex;
}

.load-more {
  font-size: 20px;
  border: 1px solid #626262;
  color: #626262;
  margin: 0 auto;
  padding: 0;
  min-width: 166px;
  min-height: 60px;
  line-height: 24px;
  cursor: pointer;
  justify-content: center;


}