.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  background-color: #ffff00;
  height: 100px;
}

.sidebar {
  background-color: #49be49;
  height: 100px;
}

@media (min-width: 480px) {
  .content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .content {
    width: 80%;
  }

  .container {
    display: flex;
  }

  .sidebar {
    width: 20%;
  }
}