html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.clearfix::after {
  direction: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}
.site-logo {
  text-decoration: none;
}

.logo {
  font-family: "Roboto";
  font-weight: 300;
  color: #666666;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.navigation {
  height: auto;
  overflow: hidden;
}

.site-logo {
  float: left;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.logo::first-letter {
  font-family: "Roboto";
  font-weight: 900;
  color: rgb(51, 204, 153);
}

.page-header {
  padding-top: 40px;
  margin-bottom: 108px;
}

.menu-item {
  float: right;
  height: auto;
  overflow: hidden;
}

.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  float: right;
  line-height: 11px;
  list-style-type: none;
  width: 490px;
}

.site-navigation a:hover {
  color: #1abc9c;
}

.site-navigation a {
  color: #0f0101;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 14px;
}

.products {
  margin-bottom: 103px;
}

.products-title,
.news-title {
  margin: 0 0 34px 0;
  text-align: center;
  font-size: 48px;
  line-height: 32px;
}

.products-title::after,
.news-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 34px auto 92px;
}

.i {
  clear: both;
}

.products-list {
  float: left;
  width: 255px;
  margin: 0 auto;
  background: #e9f0fd;
}

.name-price {
  width: 254px;
  height: 40px;
  height: auto;
  overflow: hidden;
}

.price {
  float: right;
  color: white;
  width: 52px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  background: rgba(50, 50, 50, 0.4);
}

.name-product {
  font-family: "Roboto";
  font-weight: 900;
  background: #323232;
  box-sizing: border-box;
  float: left;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  width: 202px;
  height: 40px;
  padding: 0 0 0 14px;
  text-align: left;
  text-transform: uppercase;
}

.products-list:not(:nth-child(4n-3)) {
  margin-right: 30px;
}

.products-list:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.products-list:hover .name-product {
  background: rgb(26, 188, 156);
}

.products-list:hover .price {
  background: rgba(26, 188, 156, 0.4);
}

.item {
  width: 100%;
  height: auto;
}

.news {
  height: auto;
  overflow: hidden;
}

.news-list {
  padding: 0;
  height: auto;
  overflow: hidden;
}

.news-list-item {
  float: left;
  width: 350px;
  list-style: none;
}

.news-list-item:not(:last-child) {
  margin-right: 30px;
}

.first {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.first::after {
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  margin: 10px 0 26px 0;
}

.second {
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.button-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 51px;
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  vertical-align: center;
  width: 159px;
  height: 51px;
  background-color: #4ec6ab;
  border-radius: 4px;
}

.item {
  vertical-align: middle;
}
