body {
  margin: 0;
}

.wrapper {
  width: 360px;
  height: 360px;
  margin: 0 auto;
  background-color: #0dd3c2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;

}

.container {
  width: 100px;
  height: 100px;
}

.img {
  width: 100%;
  height: auto;
}