$main-font: 'RobotoRegular',
serif,
sans-serif;
$main-font-bold: 'MontserratBold',
serif,
sans-serif;
$semi-font: 'KaushanScriptItalic',
serif,
sans-serif;
$semi-font-regular: 'MontserratRegular',
serif,
sans-serif;
$per-font: 'RobotoLightItalic',
serif,
sans-serif;
$main-color: #999999;
$semi-color: #fce38a;
$per-color: #f38181;
$main-font-color: #95e1d3;
$semi-font-color: #ffffff;
$per-font-color: #333333;
